/*  Readex */
@font-face {
	font-family: CreatoDisplayBlack;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-Black.otf);
}
@font-face {
	font-family: CreatoDisplayBlackItalic;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-BlackItalic.otf);
}
@font-face {
	font-family: CreatoDisplayBold;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-Bold.otf);
}
@font-face {
	font-family: CreatoDisplayBoldItalic;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-BoldItalic.otf);
}
@font-face {
	font-family: CreatoDisplayBoldItalic;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-ExtraBold.otf);
}
@font-face {
	font-family: CreatoDisplayLight;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-Light.otf);
}
@font-face {
	font-family: CreatoDisplayLightItalic;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-LightItalic.otf);
}
@font-face {
	font-family: CreatoDisplayLightItalic;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-Medium.otf);
}
@font-face {
	font-family: CreatoDisplayLightItalic;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-MediumItalic.otf);
}
@font-face {
	font-family: CreatoDisplayRegular;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-Regular.otf);
}
@font-face {
	font-family: CreatoDisplayRegularItalic;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-RegularItalic.otf);
}
@font-face {
	font-family: CreatoDisplayThin;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-Thin.otf);
}
@font-face {
	font-family: CreatoDisplayThinItalic;
	src: url(../fonts/CreatoDisplay/CreatoDisplay-ThinItalic.otf);
}